- color = d3.scale.linear().domain([0, 255]).range(["#0000aa", "green"])
.block{:style => "left: #{@block.xy[0] + @width/2 - 320}px; top: #{@block.xy[1]}px; height: #{@size}px; width: #{@size}px; background-color: #{color(@block.ac)}"}
  .land.large